body {
    color: #525252;
}

.logo {
    position: absolute;
    top: 2rem;
    right: 5rem;
    height: 125px;
}

.title {
	margin: 4rem 0;
	padding: 0;
    text-align: center;
}

#container {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.module {
	margin: 2rem;
    max-width: 400px;
    min-width: 300px;
    flex-grow: 1;
}

form {
    /*margin: 0 2rem;*/
}

.display_row {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

input[type=number] {
	width: 80px;
	margin-right: 1rem;
}

